.categoryIcon {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  border: 2px solid #D7DADC;
  background-color: white;
}

.categoryUl {
  padding-left: 8%;
  display: flex;
  flex-direction: column;
  height: 87%;
  justify-content: space-between;
}

.categoryLi {
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.categoryLi button {
  text-decoration: none;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
}

.categoryLi button:hover {
  color: rgb(255, 166, 166)
}